.componente {
    text-align: center;
    padding: 32px;
    height: 100vh;
}

.componente h3 {
    color: #57AEFF;
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}